@page "/"

<TiledSettingsPanel MinDelaySeconds="@MinDelaySeconds"
                    SettingsProfiles="@SettingsProfiles"
                    ActiveSettingsProfileId="@ActiveSettingsProfileId"
                    ActiveSettingsProfileName="@ActiveSettingsProfileName"
                    IsProfileChanging="@IsProfileChanging"
                    CanDeleteActiveProfile="@CanDeleteActiveProfile"
                    MaxDelaySeconds="@MaxDelaySeconds"
                    BackgroundColor="@BackgroundColor"
                    ShowClock="@ShowClock"
                    AvoidClockOverlap="@AvoidClockOverlap"
                    ClockCorner="@ClockCorner"
                    ClockScale="@ClockScale"
                    ClockCornerChoices="@ClockCornerChoices"
                    TiledCols="@TiledCols"
                    ColsMax="@ColsMax"
                    Cols="@Cols"
                    Rows="@Rows"
                    MinScale="@MinScale"
                    MaxScale="@MaxScale"
                    MinTilePx="@MinTilePx"
                    RandomScaleTries="@RandomScaleTries"
                    IsFullScreen="@IsFullScreen"
                    IsWindowModeChanging="@IsWindowModeChanging"
                    MinDelayInput="OnMinDelayInput"
                    MaxDelayInput="OnMaxDelayInput"
                    BackgroundColorSelected="OnBackgroundColorSelected"
                    ClockToggleChanged="OnClockToggleChanged"
                    ClockAvoidOverlapChanged="OnClockAvoidOverlapChanged"
                    ClockCornerChanged="OnClockCornerChanged"
                    ClockScaleInput="OnClockScaleInput"
                    ColsInput="OnColsInput"
                    MinScaleInput="OnMinScaleInput"
                    MaxScaleInput="OnMaxScaleInput"
                    MinTileInput="OnMinTileInput"
                    RandomScaleTriesInput="OnRandomScaleTriesInput"
                    ActiveProfileChanged="OnActiveProfileChanged"
                    ProfileNameInput="OnProfileNameInput"
                    CreateProfile="CreateProfileAsync"
                    DeleteActiveProfile="DeleteActiveProfileAsync"
                    ToggleWindowMode="ToggleWindowModeAsync"
                    SaveAndApply="SaveAndApplyAsync"
                    ChooseAndApplyFolder="ChooseAndApplyFolderAsync"
                    ExitApp="ExitApp" />

<div class="slideshow-container" @ref="ContainerRef" style="@BackgroundStyle">
    @foreach (var item in Items)
    {
        var style = $"left:{item.Left}px;top:{item.Top}px;width:{item.Width}px;height:{item.Height}px;";
        var imgStyle = $"width:{Math.Round(item.ImgWidth)}px;height:{Math.Round(item.ImgHeight)}px;";
        <div @key="item.Id" class="tile-item @(item.Removing ? "removing" : "")" style="@style">
            <img src="@item.Src" alt="img" style="@imgStyle" />
        </div>
    }

    <ClockOverlay ShowClock="@ShowClock"
                  ClockWidth="@ClockWidth"
                  ClockHeight="@ClockHeight"
                  ClockScale="@ClockScale"
                  CornerCssClass="@ClockCornerCssClass"
                  Overlapped="@ClockOverlapped"
                  Time="@ClockTime"
                  Date="@ClockDate" />
</div>
