@using SimpleImageSlideShow.Models
@using SimpleImageSlideShow.Models.ImageLayout
@using SimpleImageSlideShow.Services

<head>
    <style>

        .item-A {
            grid-column: 2 / 7;
            grid-row: 2 / 6;
        }

        .item-B {
            grid-column: 2 / 10;
            grid-row: 8 / 16;
        }

        .item-C {
            grid-column: 10 / 15;
            grid-row: 2 / 7;
        }

        .item-D {
            grid-column: 11 / 17;
            grid-row: 9 / 15;
        }
    </style>
</head>


<div class="item item-A">
    <div class="@FrameService.GetFrameCss()">
        <img src="@ImageEntities.First().ImageUrl" alt="">
    </div>
</div>


<div class="item item-B">
    <div class="@FrameService.GetFrameCss()">
        <img src="@ImageEntities[1].ImageUrl" alt="">
    </div> 
</div>



<div class="item item-C">
    <div class="@FrameService.GetFrameCss()">
        <img src="@ImageEntities[2].ImageUrl" alt="">
    </div>
</div>

<div class="item item-D">
    <div class="@FrameService.GetFrameCss()">
        <img src="@ImageEntities[3].ImageUrl" alt="">
    </div>
</div>

@code {

    [Parameter]
    public List<IImageEntity> ImageEntities { get; init; } = [];

    [Inject]
    private FrameService FrameService { get; init; } = default!;

    public const string LayoutId = "69586a41-91cf-4ed9-902b-1dc058230b6b";

    internal static ImageLayoutEntity ImageLayoutEntity = new()
    { 
        Id = LayoutId,
        ImageCount = 4,
        WideImageCount = 4
    };
}
