@using SimpleImageSlideShow.Models
@using SimpleImageSlideShow.Models.ImageLayout
@using SimpleImageSlideShow.Services

<head>
    <style>

        .item-A {
            grid-column: 2 / 8;
            grid-row: 2 / 8;
        }

        .item-B {
            grid-column: 1 / 8;
            grid-row: 9 / 16;
        }

        .item-C {
            grid-column: 9 / 17;
            grid-row: 3 / 11;
        }
    </style>
</head>


<div class="item item-A">
    <div class="@FrameService.GetFrameCss()">
        <img src="@ImageEntities.First().ImageUrl" alt="">
    </div>
</div>


<div class="item item-B">
    <div class="@FrameService.GetFrameCss()">
        <img src="@ImageEntities[1].ImageUrl" alt="">
    </div> 
</div>



<div class="item item-C">
    <div class="@FrameService.GetFrameCss()">
        <img src="@ImageEntities[2].ImageUrl" alt="">
    </div>
</div>


@code {

    [Parameter]
    public List<IImageEntity> ImageEntities { get; init; } = [];

    [Inject]
    private FrameService FrameService { get; init; } = default!;

    public const string LayoutId = "ba682c45-86fe-434f-92ae-c09781c626b6";

    internal static ImageLayoutEntity ImageLayoutEntity = new()
    { 
        Id = LayoutId,
        ImageCount = 3,
        WideImageCount = 3
    };
}
